<mat-toolbar color="primary">
  Create new user
<span class="flex-spacer"></span>
<button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<form [formGroup]="registerForm">
  <mat-dialog-content>
    <div fxLayout="column">
        <p class="text-warning">
          {{ error }}
        </p>
        <mat-form-field>
          <input matInput placeholder="User name" type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email@mail.com" type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-button class="background-primary text-floral-white" (click)="createUser()" >Create User</button>
    </div>
    <a mat-button (click)="openLoginForm()" class="text-warning">I already have an account</a>
  </mat-dialog-actions>
</form>
