<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="product" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{product.name | uppercase}}</h3><h3>{{ product.price }} €</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ product.image }}" alt="{{ product.name }}">
  <mat-card-content>
    <p>{{ product.description }}
    </p>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3><h3>{{ promotion.price }} €</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ promotion.image }}" alt="{{ promotion.name }}">
  <mat-card-content>
    <p>{{ promotion.description }}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
</div>
